<div class="container">
    <div class="col-12 text-center">
        <div id="messages">
        <% @conversation.messages.each do |message| %>
            <% if message.body %>
                <h4 class="media-heading"><%= message.user.username %><small class="text-muted"><%= message.message_time %></small></h4>
                <p><%= message.body %></p>
            <% end %>
        <% end %>
        </div>
        <hr>

        <%= render "form" %>
    </div>
</div>

        
  