<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Welcome to PlantFriend</h1>
        <p class="lead">Please select an option below to get started!</p>
        <p><%= link_to "Sign up", signup_path %></p>
        <p><%= link_to "Log in", '/login' %></p>
        <p><%= link_to "Log in with Google", '/auth/google_oauth2' %></p>
      </div>
    </div>
  </div>
</header>