<div class="container">

    <div class="row">

        <div class="col-lg-8">

        <% if @product %>
        <h1 class="mt-4">Comments for <strong><%= link_to @product.name, product_path(@product) %></h1>
        <% else %>
        <h1 class="mt-4">t)>All Comments</h1>
        <% end %>

        <% @comments.each do |c| %>
        <p class="lead"><strong><%= c.user.username %></strong> says "<%= c.content %>" at <%= c.created_time %></p>
        <% end %>

        </div>
    </div>
</div>
    
