<ul>
    <% @categories.each do |category| %>
        <li>
            <%= category.name %>
            <ol>
                <% category.products.each do |product| %>
                    <li><%= link_to product.name, product_path(product) %></li>
                <% end %>
            </ol>
        </li>
    <% end %>
</ul>


